 <div data-search-cardio-target="list" value='<%= @cardiologists&.to_json %>'>
<!-- bg-white my-2 py-2 px-1 rounded form-label -->
<% if @cardiologists.present? %>
  <% cardiologists&.each do |cardiologist| %>
    <div class="search-form-cardio" data-action="click->search-cardio#selectcardio" data-search-cardio-target="cardio">
      <div><p><%= cardiologist["Libellé civilité d'exercice"] %></p>
      <p><strong><%= cardiologist["Nom d'exercice"] %> <%= cardiologist["Prénom d'exercice"] %></strong></p>
      <p class="txt-min"><%= cardiologist["Numéro Voie"] %> <%= cardiologist["Libellé Voie"] %> <%= cardiologist["Code Postal"] %> <%= cardiologist["Libellé commune"] %></p><p><strong>► <%= cardiologist["distance"].truncate(2)  %> km</strong></p></div>
    </div>
  <% end %>
    <div class="w-100 mt-4 send-mail" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
    <p class="mt-2 mb-2"><strong>Send this list to your patient</strong></p>
    <input type="text" placeholder="patient@mail.com" data-search-cardio-target="mail">
    <button class="envoi-email"><%= mail_to "theo.auffeuvre@gmail.com", ">", subject: "Your general practicioner send you the list of cardiologists near you", body: render(partial: 'cardiologists_mail', locals: {cardiologists: @cardiologists}, layout: false) %></button>
    </div>
<% end %>

</div>
