<div class="messages" data-consultation-subscription-target="messages">
  <div class="message-row d-flex flex-column justify-content-start">
    <div class="receiver-head scale-up-br">
      <img class="avatar" src=<%= asset_path("Sarah-Chalke-Dr-Elliot-Reid.webp") %>>
      <div>
        <p>Dr Vanessa Heart</p>
        <p>Cardiologist</p>
      </div>
    </div>
  </div>

  <% @consultation.messages.each do |message| %>
  <div class="message-row d-flex flex-column <%= message.user.cardiologist? ? 'justify-content-end' : 'justify-content-start' %>" id="message-<%= message.id %>">

    <div class="<%= message.user.cardiologist? ? 'sender-style scale-up-br' : 'receiver-style scale-up-bl' %>">
      <small>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
  <% end %>

</div>

<div>
    <div class="">
    <%= simple_form_for [@consultation, @message],
      html: {data: { action: "turbo:submit-end->consultation-subscription#resetForm" }, class: "d-flex"} do |f|
    %>
        <%= f.input :content,
          label: false,
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", type: :image, src: "#{image_path 'send-bt.svg'}", height: 35, class: "bt-round-white " %>
    <% end %>
    </div>
  <div>

</div>
