<h1>Chatroom</h1>
<div class="messages" data-consultation-subscription-target="messages">

  <% @consultation.messages.each do | message | %>

    <div class="message-row d-flex flex-column <%= message.user.cardiologist? ? 'justify-content-end' : 'justify-content-start' %>" id="message-<%= message.id %>">
      <div class="<%= message.user.cardiologist? ? 'sender-style scale-up-br' : 'receiver-style scale-up-bl' %>">
        <small>
        <%= message.user_id %>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <a><%= message.content %></a>
      </div>
    </div>


  <% end %>
</div>

<div>
  <%= simple_form_for [@consultation, @message],
    html: {data: { action: "turbo:submit-end->conultation-subscription#resetForm" }, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      wrapper_html: {class: "flex-grow-1"}
    %>

    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>

</div>
