<div class="card-consultation mb-4 ms-4 d-flex perspective_min " style="display: flex; height: 150px; width: 96%; border-radius: 0.2rem; background: rgb(245,245,245);">
    <% if consultation.diagnostic == "green" %>
    <div class="card-consultation green"></div>
    <%elsif consultation.diagnostic == "red"%>
  <div class="card-consultation red"></div>
    <%elsif consultation.diagnostic =="orange"%>
    <div class="card-consultation orange"></div>
    <%end%>
    <div class="d-flex flex-column text-align-center text-center my-0 py-0" style="margin-top: 20px; margin-bottom: 15px; padding-left: 10px; padding-right: 10px; border-right: solid #CCCCCC; width: 20%">
      <div class="dateTop"><%= consultation.created_at.strftime("%A") %></div>
      <div class="display-2" style="font-weight:100;"> <%= consultation.created_at.strftime("%d") %></div>
      <div class="dateBottom"><%= consultation.created_at.strftime("%B") %></div>
    </div>
    <div style="display:flex; flex-direction:column; width: 50%; justify-content:center; padding-left: 1rem">
    <h3>
        <%= consultation.patient.first_name%>
        <strong><%= consultation.patient.last_name%></strong>
      </h3> <br>

        <% if consultation.diagnostic == "green" %>
        <div style="display: flex;">
            <%= image_tag "courbblack.svg", alt:"green dot", width: "15%", class: "mx-2" %><p>NORMAL SINUS RYTHM</p>
        </div>
         <%elsif consultation.diagnostic == "red"%>
         <div style="display: flex;">
         <%= image_tag "courbblack.svg", alt:"red dot", width: "15%", class: "mx-2" %>
         <p>ARYTHMIA</p>
         </div>
         <%elsif consultation.diagnostic =="orange"%>
         <div style="display: flex;">
         <%= image_tag "courbblack.svg", alt:"orange dot", width: "15%", class: "mx-2" %>
         <p>ARYTHMIA</p>
         </div>
         <%end%>
    </div>

    <div style="margin: auto;" >
      <%= link_to "Details", consultation_path(consultation), class: "view-button"%>
    </div>

</div>
