<div class="container mt-5 capsuleLeft">
  <div class="row justify-content-center">
    <div class ="col-6" id="form-analysis">
        <%=simple_form_for @consultation do |c| %>
        <%= c.simple_fields_for :patient do |p|%>
        <div class="container d-flex">
          <div class= "col-4 pe-3">
            <%= p.input :first_name%>
          </div>
          <div class= "col-4 pe-3">
            <%= p.input :last_name %>
          </div>
          <div class= "col-4 pe-3">
            <%= p.input :birth_date, input_html: {type: "date"} %>
          </div>
        </div>
        <div class="container d-flex">
        <div class= "col-4 mb-3 pe-3">
          <%= p.input :height, label: 'Height(cm)' %>
        </div>
        <div class= "col-4 mb-3 pe-3">
          <%= p.input :weight, label: 'Weight(kg)' %>
        </div>
        </div>
        <% end %>
        <div data-controller="drag-drop">
          <div
            id="zone"
            data-drag-drop-target="zone"
            data-action="drop->drag-drop#drop dragover->drag-drop#dragover dragleave->drag-drop#dragleave click->drag-drop#onDropZoneClick" >
            Drag and drop your EKG file (.mat) or click
           <%= image_tag "arrow-down.svg", alt:"fleche", width:30 %>
          </div>
            <%= c.input :file, as: :file, input_html: {class: "upload-area", "data-drag-drop-target" => "input", "data-action"=>"change->drag-drop#onInputChange"}, label:false%>
        </div>

        <div class="d-flex justify-content-center mt-3"><%= c.button :submit, class: 'btn btn-primary'%></div>
      <% end %>
    </div>
  </div>
</div>
