<h1>Submit a new analysis</h1>
<div class="container mt-5" data-controller="loading-animation">
  <div data-loading-animation-target="divgif" class="d-none d-flex justify-content-center">
    <%= image_tag "loading-ecg.gif" %>
  </div>
  <div class="row justify-content-center" data-loading-animation-target="divglobale">
  <h5>Patient informations :</h5>
    <div class ="col-8" id="form-analysis">
        <%= simple_form_for @consultation, data: { action: "submit->loading-animation#animation" } do |c| %>
        <%= c.simple_fields_for :patient do |p|%>
        <div class="container d-flex">
          <div class= "col-4 pe-3">
            <%= p.input :first_name%>
          </div>
          <div class= "col-4 pe-3">
            <%= p.input :last_name %>
          </div>
          <div class= "col-4 pe-3">
            <%= p.input :birth_date, input_html: {type: "date"} %>
          </div>
        </div>
        <div class="container d-flex">
        <div class= "col-4 mb-3 pe-3">
          <%= p.input :height, label: 'Height(cm)' %>
        </div>
        <div class= "col-4 mb-3 pe-3">
          <%= p.input :weight, label: 'Weight(kg)' %>
        </div>
        </div>
        <% end %>
        <div data-controller="drag-drop">
          <div
            id="zone"
            data-drag-drop-target="zone"
            data-action="drop->drag-drop#drop dragover->drag-drop#dragover dragleave->drag-drop#dragleave click->drag-drop#onDropZoneClick" >
            <div style="flex-direction: column; justify-content: center;">
              <div style="text-align: center;">Drag and drop your EKG file (.mat) <br> or click </div>
              <div style="padding-left: 115px;"><%= image_tag "arrow-down.svg", alt:"fleche", width:30 %></div>
            </div>
          </div>
            <%= c.input :file, as: :file, input_html: {class: "upload-area", "data-drag-drop-target" => "input", "data-action"=>"change->drag-drop#onInputChange"}, label:false%>
        </div>

        <div class="d-flex justify-content-center mt-3" style="background-color: rgb(17,24,40); border-radius: 10px;"><%= c.button :submit, class: 'text-white' %></div>
      <% end %>
    </div>

  </div>
</div>
