<div class="container">
  <div class="row justify-content-center">
    <div class ="col-6">
      <%= simple_form_for @consultation do |c| %>
        <%= c.simple_fields_for :patient do |p|%>
          <%= p.input :first_name%>
          <%= p.input :last_name %>
          <%= p.input :birth_date, as: :date %>
          <%= p.input :height %>
          <%= p.input :weight %>
          <%# <%= f.input :photo, as: :file %>
        <% end %>
        <%= c.input :file, as: :file, input_html: {} %>
        <div class="d-flex justify-content-center"><%= c.button :submit, class: 'btn btn-primary'%></div>
      <% end %>
    </div>
  </div>
</div>
