<div class="container">
  <div class="row justify-content-center">
    <div class ="col-6">
      <%= simple_form_for @consultation do |c| %>
        <%= c.simple_fields_for :patient do |p|%>
        <div class="container d-flex">
          <div class= "col-4">
            <%= p.input :first_name%>
          </div>
          <div class= "col-4">
            <%= p.input :last_name %>
          </div>
          <div class= "col-4">
            <%= p.input :birth_date, input_html: {type: "date"} %>
          </div>
        </div>
        <div class="container d-flex">
        <div class= "col-4 mb-3">
          <%= p.input :height, label: 'Height(cm)' %>
        </div>
        <div class= "col-4 mb-3">
          <%= p.input :weight, label: 'Weight(kg)' %>
        </div>
        </div>
        <% end %>
        <%# <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
           <p>Drag your EKG file (.mat) <i>here</i></p>
        </div> %>
        <%# display none sur input et voir si drop sur label possible %>
        <%= c.input :file, as: :file, input_html: {class: "opacity-0"}, label: "Upload your EKG file (.mat)"%>
        <div class="d-flex justify-content-center"><%= c.button :submit, class: 'btn btn-primary'%></div>
      <% end %>
    </div>
  </div>
</div>
