<div class="ecg-flex-container" style="margin-bottom:3rem;">
    <h1 class="display-6 pt-4 pb-2" style="margin-top:1rem;">Analysis results</h1>
</div>
<div class="ecg-flex-container">
<!--- CAPSULE LEFT --->
    <div class="capsuleLeft scale-up-bl">
      <div class="ekg-details">
        <h3 style="font-size: 1.9rem;">Patient information:</h3>
        <div class="ekg-list pt-4">
          <ul>
            <li class="sliplitvertical"><p><strong>Name:</strong></p><p><%= @consultation.patient.first_name %> <%= @consultation.patient.last_name %></li>
            <li><p><strong>Birth date: </strong></p><p><%= @consultation.patient.birth_date.to_datetime.strftime("%d %B %Y")%></li>
            <li><p><strong>Height: </strong></p><%= @consultation.patient.height%> cm</li>
             <li><p><strong>Weight: </strong></p><%= @consultation.patient.weight%> kg</li>
          </ul>
        </div>
      </div>
      <div style="background-color:white; border-radius:1rem; padding:1rem;" class="perspective_min">
        <%= line_chart @data, min: 500, points: false, colors: ["#5f9ea0", "#a52a2a"] %>
      </div>
    <div class="ekg-details">
          <% if @consultation.diagnostic == "orange"  %>
          <div class="perspective_min alerte orange">
            <span class="exclamation">!</span><p> WARNING : This EKG has an irregular frequency. <br>A checkup with a specialist is recommended.</p>
          </div>
          <div class="ekg-list">
            <div style="animation-delay:0ms;" class="bpm perspective alerteVerte"><strong><%= 60_000 / @intervals_in_ms.max %></strong><p>BPM</p>
              <%= image_tag "courb.svg", alt: "courbe", width: 100 %>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:500ms;" class="perspective interval alerteOrange">
                <strong><%= @intervals_in_ms.max %></strong><p>Interval<br>max<br>(ms)</p>
              </div>
              <div style="animation-delay:600ms;" class="perspective interval alerteOrange">
                <strong><%= @intervals_in_ms.min %></strong><p>Interval<br>min<br>(ms)</p>
              </div>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:700ms;" class="perspective interval alerteRouge">
                <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong><p>Delta △ (ms)</p>
              </div>
              <div style="animation-delay:800ms;" class="perspective interval alerteVerte">
                <strong>FA</strong><p>Type</p>
              </div>
            </div>
          </div>
          <% elsif @consultation.diagnostic == "red" %>
            <div class="alerte perspective_min rouge">
              <span class="exclamation">!</span><p> WARNING : This EKG has an abnormally high frequency. <br>A cardiologist will contact you.  </p>
            </div>
            <div class="ekg-list">
            <div style="animation-delay:0ms;" class="perspective bpm alerteRouge"><strong><%= 60_000 / @intervals_in_ms.max %></strong><p>BPM</p>
              <%= image_tag "courb.svg", alt: "courbe", width: 100 %>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:500ms;" class="perspective interval alerteRouge">
                <strong><%= @intervals_in_ms.max %></strong><p>Interval<br> max (ms)</p>
              </div>
              <div style="animation-delay:600ms;" class="perspective interval alerteRouge">
                <strong><%= @intervals_in_ms.min %></strong><p>Interval<br>min (ms)</p>
              </div>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:700ms;" class="perspective interval alerteOrange">
                <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong><p>Delta △<br>(ms)</p>
              </div>
              <div style="animation-delay:800ms;" class="perspective interval alerteVerte">
                <strong>Tachy</strong><p>Type</p>
              </div>
            </div>
          </div>
                   <% elsif @consultation.diagnostic == "green" %>
              <div class="alerte perspective_min verte">
                <span class="exclamation">!</span><p> This EKG does not show any issues.</p>
              </div>
            <div class="ekg-list">
            <div style="animation-delay:0ms;" class="perspective bpm alerteVerte"><strong><%= 60_000 / @intervals_in_ms.max %></strong><p>BPM</p>
              <%= image_tag "courb.svg", alt: "courbe", width: 100 %>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:500ms;" class="perspective interval alerteVerte">
                <strong><%= @intervals_in_ms.max %></strong><p>Interval<br>max<br>(ms)</p>
              </div>
              <div style="animation-delay:600ms;" class="perspective interval alerteVerte">
                <strong><%= @intervals_in_ms.min %></strong><p>Interval<br>min<br>(ms)</p>
              </div>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:700ms;" class="perspective interval alerteVerte">
                <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong><p>Delta △ (ms)</p>
              </div>
              <div style="animation-delay:800ms;" class="perspective interval alerteVerte">
                <strong>Sinus rhythm</strong><p>Type</p>
              </div>
            </div>
          </div>
          <% end %>
      </div>

      <% if @consultation.diagnostic == "red" %>
    </div>

<!--- CAPSULE RIGHT --->
    <div class="capsuleRight scale-up-br">
        <div class="consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
          <%= render "chat" %>
        </div>
    </div>

    <% elsif @consultation.diagnostic == "orange" %>
    </div>
<!--- CAPSULE RIGHT --->
      <div class="capsuleRightOrange scale-up-br d-flex flex-column">
       <h3 style="font-size: 1.9rem; padding-bottom:2rem; margin-top:1rem;" >Find available cardiologists</h3>

        <div data-controller="search-cardio" class="search-bar" style="padding-top: 1rem;">
          <%= form_with url: search_cardio_consultation_path(@consultation),  html: {data: {search_cardio_target: "form"}} do |form| %>
          <div class="search-flex-container">
            <div>
             <div style="display:flex;width: 100%;gap: 10px;">
              <div style="position: relative;">
                <i class="fa-sharp fa-solid fa-location-dot" style="position: absolute; left: 6px;/* background: red; */height: 100%; display: flex;align-items: center;"></i>
                <input data-search-cardio-target="input" class="search-form-input" autocomplete="address-line1" style="flex-grow:1;padding-left: 27px;" type="text" name="place" id="place" browser-autofilled="">
              </div>
              <input type="submit" name="commit" value="Search" class="envoi-email" data-action="click->search-cardio#update" data-disable-with="Search" style="flex-grow: 1;">
            </div>
          </div>
          <% end %>

          <div><%= render 'consultations/cardiologists', cardiologists: @cardiologists %></div>
          <%# <a data-search-cardio-target="pagenumber" data-action="click->search-cardio#update" value="1">Next</a> %>
        </div>

      </div>
    <% end %>
</div> <!-- end ecg flex container -->
