






<div class="ecg-flex-container" style="margin-bottom:3rem;">

    <h1>Résultat de l'analyse</h1>
</div>
<div class="ecg-flex-container">




    <div class="capsuleLeft scale-up-bl">

      <div class="ekg-details">
        <h3>Patient informations:</h3>
          <div class="ekg-list">
            <p>First Name:<%= @consultation.patient.first_name %></p>
            <p>Last name:<%= @consultation.patient.last_name %> </p>
            <p>Birth date:<%= @consultation.patient.birth_date%></p>
            <p><%= @consultation.patient.height%>cm</p>
          </div>

      </div>


      <div style="background-color:white; border-radius:1rem; padding:1rem;">
      <%= line_chart @data, min: 500, points: false %>
      </div>

      <div class="ekg-details">
        <h3>EKG details</h3>
          <div class="ekg-list">
            <div style="animation-delay:180ms;" class="scale-up-bl">Criticity <strong><%= @consultation.diagnostic %></strong></div>
            <div style="animation-delay:50ms;" class="scale-up-bl alerteRouge">Interval max <strong><%= @intervals_in_ms.max %></strong></div>
            <div style="animation-delay:300ms;" class="scale-up-bl">Interval min <strong><%= @intervals_in_ms.min %></strong></div>
            <div style="animation-delay:100ms;" class="scale-up-bl alerteVerte">Delta <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong></div>
            <div style="animation-delay:250ms;" class="scale-up-bl">BPM <strong><%= 60_000 / @intervals_in_ms.max %></strong></div>
          </div>

      </div>


    </div>
    <% if @consultation.diagnostic == "red" %>
      <div class="capsuleRight scale-up-br">
      <%#= @consultation.diagnostic %>
        <div class="consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
          <%= render "chat" %>
      </div>
    <% elsif @consultation.diagnostic == "orange" %>
      <div class="capsuleRight scale-up-br">
      <%#= @consultation.diagnostic %>
        <div class="consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
          <%= render "enveloppe" %>
          <%= form_with url: send_mail_path do |form| %>
            <%= form.label :mail, "Email:" %>
            <%= form.text_field :mail %>
            <%= form.submit "Send" %>
          <% end %>

          <div data-controller="search-cardio">
            <%= form_with url: consultation_search_cardio_path(@consultation),  html: {data: {search_cardio_target: "form"}} do |form| %>
              <%= form.label :place, "Place:" %>
              <%= form.text_field :place, value: params[:place], data: {search_cardio_target: "input"} %>
              <%= form.submit "Send", data: {action: "click->search-cardio#update"} %>
            <% end %>

            <div><%= render 'cardiologists' %></div>
          </div>
      </div>
    <% end %>
        


  </div>








</div> <!-- end ecg flex container -->



  <%
=begin%>
 <%= render 'cardiologists' %> 
<%
=end%>


