
<h4>Patient informations:</h4>
<p>First Name:<%= @consultation.patient.first_name %></p>
<p>Last name:<%= @consultation.patient.last_name %> </p>
<p>Birth date:<%= @consultation.patient.birth_date%></p>
<p><%= @consultation.patient.height%>cm</p>
<p><%= @consultation.patient.weight%>kg</p>





<div class="ecg-flex-container" style="margin-bottom:3rem;">

    <h1>Résultat de l'analyse</h1>
</div>
<div class="ecg-flex-container">


    <div class="capsuleLeft scale-up-bl">




      <div style="animation-delay: 2s;background-color:white; border-radius:1rem;" class="fadeIn">
      <%= line_chart @data, min: 500, points: false %>
      </div>

      <div class="ekg-details">
        <h3>EKG details</h3>
          <ul class="ekg-list">
            <li>Criticity:<%= @consultation.diagnostic %></li>
            <li>Interval max<%= @intervals_in_ms.max %></li>
            <li>Interval min<%= @intervals_in_ms.min %></li>
            <li>Delta<%= @intervals_in_ms.max - @intervals_in_ms.min %></li>
            <li>BPM<%= 60_000 / @intervals_in_ms.max %></li>
          </ul>

      </div>


    </div>

    <div class="capsuleRight scale-up-br">
      <%#= @consultation.diagnostic %>
      <% if @consultation.diagnostic == "rouge" %>
      <div class="consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
        <%= render "chat" %>
      </div>
      <% end %>
      <%= render "enveloppe" %>


    </div>








</div> <!-- end ecg flex container -->

<%= form_with url: send_mail_path do |form| %>
  <%= form.label :mail, "Email:" %>
  <%= form.text_field :mail %>
  <%= form.submit "Send" %>
<% end %>
