<div class="ecg-flex-container" style="margin-bottom:3rem;">
    <h1 class="display-6 pt-4 pb-2" style="margin-top:3rem;">Analysis results</h1>
</div>
<div class="ecg-flex-container">
<!--- CAPSULE LEFT --->
    <div class="capsuleLeft scale-up-bl">
      <div class="ekg-details">
        <h3 style="font-size: 1.9rem;">Patient information:</h3>
        <div class="ekg-list pt-4">
          <ul>
            <li class="sliplitvertical"><p><strong>Name:</strong></p><p><%= @consultation.patient.first_name %> <%= @consultation.patient.last_name %></li>
            <li><p><strong>Birth date: </strong></p><p><%= @consultation.patient.birth_date%></li>
            <li><p><strong>Height: </strong></p><%= @consultation.patient.height%> cm</li>
             <li><p><strong>Weight: </strong></p><%= @consultation.patient.weight%> kg</li>
          </ul>
        </div>
      </div>
      <div style="background-color:white; border-radius:1rem; padding:1rem;">
        <%= line_chart @data, min: 500, points: false %>
      </div>
    <div class="ekg-details">
          <% if @consultation.diagnostic == "orange"  %>
          <div class="ekg-list">
            <div style="animation-delay:0ms;" class="scale-up-bl bpm alerteOrange"><strong><%= 60_000 / @intervals_in_ms.max %></strong><p>BPM</p>
              <%= image_tag "courb.svg", alt: "courbe", width: 100 %>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:500ms;" class="scale-up-bl interval alerteOrange">
                <strong><%= @intervals_in_ms.max %></strong><p>Interval<br> max</p>
              </div>
              <div style="animation-delay:600ms;" class="scale-up-bl interval alerteOrange">
                <strong><%= @intervals_in_ms.min %></strong><p>Interval<br>min </p>
              </div>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:700ms;" class="scale-up-bl interval alerteRouge">
                <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong><p>Delta ▲△</p>
              </div>
              <div style="animation-delay:800ms;" class="scale-up-bl interval alerteVerte">
                <strong>FA</strong><p>Type</p>
              </div>
            </div>
          </div>
          <% elsif @consultation.diagnostic == "red" %>
                    <div class="ekg-list">
            <div style="animation-delay:0ms;" class="scale-up-bl bpm alerteRouge"><strong><%= 60_000 / @intervals_in_ms.max %></strong><p>BPM</p>
              <%= image_tag "courb.svg", alt: "courbe", width: 100 %>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:500ms;" class="scale-up-bl interval alerteRouge">
                <strong><%= @intervals_in_ms.max %></strong><p>Interval<br> max</p>
              </div>
              <div style="animation-delay:600ms;" class="scale-up-bl interval alerteRouge">
                <strong><%= @intervals_in_ms.min %></strong><p>Interval<br>min </p>
              </div>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:700ms;" class="scale-up-bl interval alerteOrange">
                <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong><p>Delta ▲△</p>
              </div>
              <div style="animation-delay:800ms;" class="scale-up-bl interval alerteVerte">
                <strong>Tachy</strong><p>Type</p>
              </div>
            </div>
          </div>
                   <% elsif @consultation.diagnostic == "green" %>
                    <div class="ekg-list">
            <div style="animation-delay:0ms;" class="scale-up-bl bpm alerteVerte"><strong><%= 60_000 / @intervals_in_ms.max %></strong><p>BPM</p>
              <%= image_tag "courb.svg", alt: "courbe", width: 100 %>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:500ms;" class="scale-up-bl interval alerteVerte">
                <strong><%= @intervals_in_ms.max %></strong><p>Interval<br> max</p>
              </div>
              <div style="animation-delay:600ms;" class="scale-up-bl interval alerteVerte">
                <strong><%= @intervals_in_ms.min %></strong><p>Interval<br>min </p>
              </div>
            </div>
            <div class="splitVertical">
              <div style="animation-delay:700ms;" class="scale-up-bl interval alerteVerte">
                <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong><p>Delta ▲△</p>
              </div>
              <div style="animation-delay:800ms;" class="scale-up-bl interval alerteVerte">
                <strong>Sinus rythm</strong><p>Type</p>
              </div>
            </div>
          </div>
          <% end %>
      </div>

      <% if @consultation.diagnostic == "red" %>
      <div class="alerte rouge">
        <span class="exclamation">!</span><p> WARNING : This EKG has abnormal high frequency. <br>A cardiologist will contact you.  </p>
      </div>
    </div>

<!--- CAPSULE RIGHT --->
    <div class="capsuleRight scale-up-br">
        <div class="consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
          <%= render "chat" %>
        </div>
    </div>

    <% elsif @consultation.diagnostic == "orange" %>

      <div class="alerte orange">
        <span class="exclamation">!</span><p> WARNING : This EKG has irregular frequency. A checkup with a specialist is recommended.</p>
      </div>
    </div>
<!--- CAPSULE RIGHT --->
      <div class="capsuleRightOrange scale-up-br d-flex flex-column">
       <h3 style="font-size: 1.9rem; padding-bottom:2rem;" >Find a cardiologist</h3>

        <div data-controller="search-cardio" class="w-100 search-bar" style="padding-top: 1rem;">
          <%= form_with url: consultation_search_cardio_path(@consultation),  html: {data: {search_cardio_target: "form"}} do |form| %>
            <strong><%= form.label :place, "Location:", class:"search-form-txt" %></strong>
            <%= form.text_field :place, value: params[:place], data: {search_cardio_target: "input"}, class:"search-form-input" %>

            <%= form.submit " > ", class: "transparent", data: {action: "click->search-cardio#update"} %>

          <% end %>
          <div><%= render 'consultations/cardiologists' %></div>
          <%# <a data-search-cardio-target="pagenumber" data-action="click->search-cardio#update" value="1">Next</a> %>
        </div>
        <div class="w-100 mt-auto" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
          <%= form_with url: send_mail_path do |form| %>
            <%= form.label :mail, "Email:" %>
            <%= form.text_field :mail %>
            <%= form.submit " > ", class: "envoi-email" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="alerte verte">
        <span class="exclamation">!</span><p> This EKG does not show any issues.</p>
      </div>
    <% end %>
</div> <!-- end ecg flex container -->
