
<h4>Patient informations:</h4>
<p>First Name:<%= @consultation.patient.first_name %></p>
<p>Last name:<%= @consultation.patient.last_name %> </p>
<p>Birth date:<%= @consultation.patient.birth_date%></p>
<p><%= @consultation.patient.height%>cm</p>
<p><%= @consultation.patient.weight%>kg</p>




<div class="ecg-flex-container" style="justify-content:start; margin-bottom:3rem;">
    <h1>Résultat de l'analyse</h1>
</div>
<div class="ecg-flex-container">


    <div class="capsuleLeft scale-up-bl">

      <div style="animation-delay: 2s;background-color:white; border-radius:1rem;" class="fadeIn">
      <%= line_chart @data, min: 500, points: false %>
      </div>
    </div>

    <div class="capsuleRight scale-up-br">
      <%#= @consultation.diagnostic %>
      <% if @consultation.diagnostic == "rouge" %>
      <div class="consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
        <%= render "chat" %>
      </div>
      <% end %>


    </div>


<%= form_with url: send_mail_path do |form| %>
  <%= form.label :mail, "Email:" %>
  <%= form.text_field :mail %>
  <%= form.submit "Send" %>
<% end %>





</div> <!-- end ecg flex container -->

      <div>Criticity:<%= @consultation.diagnostic %></div>
      <div>Interval max<%= @intervals_in_ms.max %></div>
      <div>Interval min<%= @intervals_in_ms.min %></div>
      <div>Delta<%= @intervals_in_ms.max - @intervals_in_ms.min %></div>
      <div>BPM<%= 60_000 / @intervals_in_ms.max %></div>
      <%
=begin%>
 <div>QRS moyen<%= @intervals_in_ms_QS.sum / @intervals_in_ms_QS.count %></div>
      <div>QRS moyen<%= @intervals_in_ms_QS %></div> 
<%
=end%>
