






<div class="ecg-flex-container" style="margin-bottom:3rem;">

    <h1>Analysis results</h1>
</div>
<div class="ecg-flex-container">




    <div class="capsuleLeft scale-up-bl">

      <div class="ekg-details">
        <h3>Patient informations:</h3>
          <div class="ekg-list">
            <p>First Name:<%= @consultation.patient.first_name %></p>
            <p>Last name:<%= @consultation.patient.last_name %> </p>
            <p>Birth date:<%= @consultation.patient.birth_date%></p>
            <p><%= @consultation.patient.height%>cm</p>
          </div>

      </div>


      <div style="background-color:white; border-radius:1rem; padding:1rem;">
      <%= line_chart @data, min: 500, points: false %>
      </div>

      <div class="ekg-details">
        <h3>EKG details</h3>
          <div class="ekg-list">
            <div style="animation-delay:180ms;" class="scale-up-bl">Criticity <strong><%= @consultation.diagnostic %></strong></div>
            <div style="animation-delay:50ms;" class="scale-up-bl alerteRouge">Interval max <strong><%= @intervals_in_ms.max %></strong></div>
            <div style="animation-delay:300ms;" class="scale-up-bl">Interval min <strong><%= @intervals_in_ms.min %></strong></div>
            <div style="animation-delay:100ms;" class="scale-up-bl alerteVerte">Delta <strong><%= @intervals_in_ms.max - @intervals_in_ms.min %></strong></div>
            <div style="animation-delay:250ms;" class="scale-up-bl">BPM <strong><%= 60_000 / @intervals_in_ms.max %></strong></div>
          </div>

      </div>


    </div>

    <div class="capsuleRight scale-up-br">
      <%#= @consultation.diagnostic %>
      <% if @consultation.diagnostic == "red" %>
      <div class="consultation" data-controller="consultation-subscription" data-consultation-subscription-consultation-id-value=" <%= @consultation.id %>">
        <%= render "chat" %>
      </div>
      <% end %>
      <%= render "enveloppe" %>


    </div>








</div> <!-- end ecg flex container -->

<%= form_with url: send_mail_path do |form| %>
  <%= form.label :mail, "Email:" %>
  <%= form.text_field :mail %>
  <%= form.submit "Send" %>
<% end %>
