<% if user_signed_in? %>
	<div class="flex flex-col items-center w-60 h-screen overflow-hidden text-gray-400 bg-nav" style="position: sticky; top: 0;">
		<a class="flex items-center w-full px-3 mt-3" href="<%= new_consultation_path %>">
			<svg class="w-8 h-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0943 7.99861C13.2414 8.00988 13.3772 8.08207 13.4688 8.19778L16.5131 12.0432L18.9276 10.3832C19.0158 10.3225 19.1203 10.2901 19.2274 10.2901H26.8119C27.1041 10.2901 27.341 10.527 27.341 10.8192C27.341 11.1115 27.1041 11.3484 26.8119 11.3484H19.3917L16.705 13.1955C16.4756 13.3532 16.1631 13.3062 15.9903 13.0879L12.9944 9.30358L10.9446 11.207C10.8467 11.2979 10.7181 11.3484 10.5845 11.3484H3.52915C3.23691 11.3484 3 11.1115 3 10.8192C3 10.527 3.23691 10.2901 3.52915 10.2901H10.3767L12.6938 8.13846C12.802 8.03805 12.9471 7.98735 13.0943 7.99861Z" fill="#E9E9E9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.5488 3.39946C16.4423 3.81066 15.6125 4.7133 15.315 5.53118C15.2151 5.80581 14.9114 5.94747 14.6368 5.84757C14.3622 5.74766 14.2205 5.44404 14.3204 5.1694C14.7284 4.04769 15.795 2.9222 17.1802 2.40744C18.6006 1.87957 20.3394 1.99946 22.0273 3.34993C24.2037 5.09127 24.1143 8.12384 22.5769 11.064C22.4415 11.323 22.1218 11.4231 21.8628 11.2877C21.6038 11.1523 21.5036 10.8326 21.6391 10.5736C23.0917 7.79547 22.94 5.43555 21.3661 4.17629C19.968 3.05768 18.62 3.00137 17.5488 3.39946ZM21.4365 11.9746C21.6748 12.1437 21.731 12.474 21.562 12.7124C20.0886 14.7897 17.8913 16.8363 15.0883 18.5047C14.8372 18.6542 14.5125 18.5718 14.363 18.3207C14.2135 18.0696 14.2959 17.7448 14.547 17.5953C17.2362 15.9946 19.3192 14.0452 20.6987 12.1001C20.8678 11.8618 21.1981 11.8056 21.4365 11.9746Z" fill="#E9E9E9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9741 3.28325C13.0805 3.69445 13.9104 4.59709 14.2079 5.41497C14.3078 5.6896 14.6114 5.83126 14.8861 5.73135C15.1607 5.63145 15.3024 5.32783 15.2025 5.05319C14.7944 3.93148 13.7278 2.80599 12.3427 2.29123C10.9223 1.76336 9.18354 1.88325 7.49563 3.23372C5.79917 4.59102 5.47594 6.76024 6.15475 9.03055C6.23846 9.31054 6.53331 9.46966 6.81331 9.38594C7.0933 9.30223 7.25242 9.00738 7.1687 8.72738C6.56367 6.70382 6.91483 5.05375 8.15679 4.06008C9.55492 2.94147 10.9029 2.88516 11.9741 3.28325ZM7.22649 10.3529C6.96898 10.4911 6.87223 10.8119 7.01041 11.0694C8.39623 13.6521 10.9497 16.3142 14.4345 18.3885C14.6857 18.538 15.0104 18.4556 15.1599 18.2045C15.3094 17.9534 15.227 17.6286 14.9759 17.4791C11.6273 15.4859 9.22327 12.9551 7.94295 10.569C7.80477 10.3115 7.484 10.2147 7.22649 10.3529Z" fill="#E9E9E9"/>
<path d="M29.4943 13.9068C31.188 13.9068 32.0561 12.7834 32.2859 11.8557L31.188 11.5237C31.0263 12.0855 30.5242 12.7578 29.4943 12.7578C28.5241 12.7578 27.6219 12.0514 27.6219 10.7663C27.6219 9.39598 28.5751 8.74915 29.4773 8.74915C30.5242 8.74915 30.9923 9.38747 31.137 9.96622L32.2434 9.61727C32.0051 8.63851 31.1455 7.61719 29.4773 7.61719C27.8602 7.61719 26.4048 8.84277 26.4048 10.7663C26.4048 12.6897 27.8092 13.9068 29.4943 13.9068Z" fill="#E9E9E9"/>
<path d="M37.2766 13.7791H38.5532L36.2552 7.74485H34.8935L32.5785 13.7791H33.8211L34.3233 12.4004H36.7744L37.2766 13.7791ZM35.5488 9.04703L36.3829 11.328H34.7148L35.5488 9.04703Z" fill="#E9E9E9"/>
<path d="M42.474 13.7791H43.7847L42.4911 11.311C43.2826 11.0812 43.7762 10.4428 43.7762 9.60025C43.7762 8.5534 43.0273 7.74485 41.8527 7.74485H39.4952V13.7791H40.6782V11.4556H41.291L42.474 13.7791ZM40.6782 10.4428V8.76617H41.6315C42.2272 8.76617 42.5762 9.0981 42.5762 9.60876C42.5762 10.1024 42.2272 10.4428 41.6315 10.4428H40.6782Z" fill="#E9E9E9"/>
<path d="M46.1593 12.6897V8.83426H47.104C48.0913 8.83426 48.9083 9.45556 48.9083 10.7663C48.9083 12.0769 48.0828 12.6897 47.0955 12.6897H46.1593ZM47.1381 13.7791C48.8573 13.7791 50.1254 12.6727 50.1254 10.7663C50.1254 8.85979 48.8658 7.74485 47.1466 7.74485H44.9848V13.7791H47.1381Z" fill="#E9E9E9"/>
<path d="M52.5054 13.7791V7.74485H51.3138V13.7791H52.5054Z" fill="#E9E9E9"/>
<path d="M54.9119 10.7577C54.9119 9.39598 55.8651 8.74915 56.7928 8.74915C57.729 8.74915 58.6823 9.39598 58.6823 10.7577C58.6823 12.1195 57.729 12.7663 56.7928 12.7663C55.8651 12.7663 54.9119 12.1195 54.9119 10.7577ZM53.6948 10.7663C53.6948 12.7068 55.1587 13.9068 56.7928 13.9068C58.4355 13.9068 59.8993 12.7068 59.8993 10.7663C59.8993 8.81724 58.4355 7.61719 56.7928 7.61719C55.1587 7.61719 53.6948 8.81724 53.6948 10.7663Z" fill="#E9E9E9"/>
<path d="M65.647 13.7791H61.9617V7.74485H62.7958V12.9961H65.647V13.7791Z" fill="#E9E9E9"/>
<path d="M67.6019 9.01299C67.1764 9.42719 66.9636 10.0088 66.9636 10.7577C66.9636 11.5067 67.1764 12.0911 67.6019 12.511C68.0275 12.9309 68.541 13.1408 69.1424 13.1408C69.7438 13.1408 70.2573 12.9309 70.6829 12.511C71.1084 12.0911 71.3212 11.5067 71.3212 10.7577C71.3212 10.0088 71.1084 9.42719 70.6829 9.01299C70.2573 8.59311 69.7438 8.38318 69.1424 8.38318C68.541 8.38318 68.0275 8.59311 67.6019 9.01299ZM66.1125 10.7577C66.1125 10.2698 66.1976 9.82437 66.3678 9.42152C66.5437 9.01866 66.7735 8.68957 67.0572 8.43424C67.3466 8.17324 67.67 7.97181 68.0275 7.82996C68.3849 7.68811 68.7566 7.61719 69.1424 7.61719C69.5282 7.61719 69.8999 7.68811 70.2573 7.82996C70.6148 7.97181 70.9354 8.17324 71.2191 8.43424C71.5085 8.68957 71.7383 9.01866 71.9085 9.42152C72.0844 9.82437 72.1723 10.2698 72.1723 10.7577C72.1723 11.4046 72.022 11.972 71.7212 12.4599C71.4262 12.9479 71.0517 13.311 70.5978 13.5493C70.1439 13.7877 69.6587 13.9068 69.1424 13.9068C68.6261 13.9068 68.1409 13.7877 67.687 13.5493C67.2331 13.311 66.8558 12.9479 66.5551 12.4599C66.26 11.972 66.1125 11.4046 66.1125 10.7577Z" fill="#E9E9E9"/>
<path d="M78.7152 13.7791H78.0428L77.9662 12.928C77.8187 13.1947 77.5776 13.4245 77.2428 13.6174C76.908 13.8103 76.5052 13.9068 76.0342 13.9068C75.5179 13.9068 75.0413 13.7905 74.6044 13.5579C74.1675 13.3195 73.8072 12.9564 73.5235 12.4684C73.2455 11.9805 73.1065 11.4102 73.1065 10.7577C73.1065 10.1052 73.254 9.535 73.549 9.04703C73.8441 8.55907 74.2129 8.19877 74.6555 7.96614C75.1037 7.7335 75.5832 7.61719 76.0938 7.61719C76.7407 7.61719 77.3024 7.78457 77.779 8.11934C78.2613 8.44843 78.5904 8.88816 78.7663 9.43854L78.0088 9.76196C77.8726 9.32506 77.6343 8.98746 77.2939 8.74915C76.9591 8.50517 76.5591 8.38318 76.0938 8.38318C75.5094 8.38318 75.0072 8.59028 74.5874 9.00448C74.1675 9.41868 73.9576 10.0031 73.9576 10.7577C73.9576 11.5181 74.1618 12.1081 74.5704 12.528C74.9846 12.9422 75.481 13.1493 76.0598 13.1493C76.3775 13.1493 76.6584 13.0983 76.9024 12.9961C77.152 12.894 77.3449 12.7607 77.4811 12.5961C77.623 12.4259 77.7279 12.2557 77.796 12.0855C77.8698 11.9152 77.9123 11.745 77.9237 11.5748H75.83V10.8258H78.7152V13.7791Z" fill="#E9E9E9"/>
<path d="M81.0187 13.7791H80.1676V7.74485H81.0187V13.7791Z" fill="#E9E9E9"/>
<path d="M85.3361 13.9068C84.5134 13.9068 83.8069 13.6231 83.2168 13.0557C82.6324 12.4883 82.3402 11.7223 82.3402 10.7577C82.3402 10.1109 82.4877 9.54351 82.7828 9.05554C83.0778 8.56758 83.4495 8.20728 83.8977 7.97465C84.346 7.73634 84.8254 7.61719 85.3361 7.61719C86.017 7.61719 86.59 7.79024 87.0553 8.13636C87.5262 8.4768 87.8383 8.94206 87.9915 9.53216L87.217 9.80451C87.1035 9.35059 86.8851 9.00164 86.5617 8.75766C86.2382 8.508 85.8297 8.38318 85.3361 8.38318C84.746 8.38318 84.241 8.59311 83.8211 9.01299C83.4013 9.42719 83.1913 10.0088 83.1913 10.7577C83.1913 11.5067 83.4013 12.0911 83.8211 12.511C84.241 12.9309 84.746 13.1408 85.3361 13.1408C85.8297 13.1408 86.2411 13.0103 86.5702 12.7493C86.8993 12.4826 87.1291 12.1308 87.2596 11.6939L88 11.9663C87.8355 12.5507 87.5177 13.0217 87.0468 13.3791C86.5815 13.7309 86.0113 13.9068 85.3361 13.9068Z" fill="#E9E9E9"/>

				<%# <path d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" /> %>
			</svg>
			<span class="ml-2 text-sm font-bold">CARDIOLOGIC</span>
		</a>
		<div class="w-full px-2">
			<div class="flex flex-col items-center w-full mt-3 border-t border-gray-700">
				<a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300" href=<%= new_consultation_path %>>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
          </svg>
					<span class="ml-2 text-sm font-medium">New analysis</span>
				</a>
				<a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300" href=<%= consultations_path%>>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
        </svg>

					<span class="ml-2 text-sm font-medium">My analyses</span>
				</a>
      </div>
			<div class="flex flex-col items-center w-full mt-2 border-t border-gray-700">
				<a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
					<span class="ml-2 text-sm font-medium">Settings</span>
				</a>
				<a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300" href=<%=  myprofile_path %>>
					<svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
					</svg>
					<span class="ml-2 text-sm font-medium">My profile</span>
				</a>
			</div>
		</div>


    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'flex items-center justify-center w-full h-16 mt-auto bg-gray-800 hover:bg-gray-700 hover:text-gray-300' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
      </svg>
			<span class="ml-2 text-sm font-medium">Log out</span>
    <% end %>
	</div>
<% end %>
